body {
    background-color: #2F3A5B;
    color: #EFD686;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    align-items: center;
    justify-content: center;;
    gap: 2px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 2px solid #EFD686;
    width: 150px;
    height: 150px;
    cursor: pointer;
}   

.cell:hover,
button:hover {
    background-color: #404b6c;
}

button {
    background-color: transparent;
    border: 1px solid #EFD686;
    color: #EFD686;
    width: 125px;
    padding:12px 16px;
    border-radius: 8px;
    display: block;
    cursor: pointer;
}

#buttonFlexContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 16px auto;
}

#displayText {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}