.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    align-items: center;
    justify-content: center;;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid #333;
    width: 150px;
    height: 150px;
    cursor: pointer;
}